%p#notice= notice
.progress-container
  %img{src: "#{@user.avatar_url}"}
  .progress-stats-container
    %span
      %strong= @user.username
    %span Level: #{@user.current_level}
    .progress-bar-container
      .progress-bar{style: "width: #{current_user.progress_bar_width}%"}

.collection.with-header
  %h5.collection-header Daily Goals:
  - @daily_goals.each do |goal|
    .collection-item
      %a.myLink{:href => "#openModal"}= goal.description
      #openModal.modal
        .modal-content
          %span{class: "close"}="x"
          =render "goals/show", :goal => goal

.collection.with-header
  %h5.collection-header Weekly Goals:
  -if @weekly_goal
    .collection-item
      %a.myLink{:href => "#openModal"}= @weekly_goal.description
      #openModal.modal
        .modal-content
          %span{class: "close"}="x"
          =render "goals/show", :goal => @weekly_goal

.collection.with-header
  %h5.collection-header Phase Goals:
  -if @phase_goal
    .collection-item
      %a.myLink{:href => "#openModal"}= @phase_goal.description
      #openModal.modal
        .modal-content
          %span{class: "close"}= "x"
          =render "goals/show", :goal => @phase_goal
