%p#notice= notice
.profile-container
  .profile-avatar
    %img{src: @user.avatar_url}
  .profile-username
    %strong Username:
    = @user.username
  .profile-email
    %strong Email:
    = @user.email
.profile-links
  %a.edit-profile{:href => "#userEditModal"} Edit
  .modal#userEditModal
    .modal-content
      %span#closeEditModal X
      =render "users/form", user: current_user
  |
  = link_to 'Back', users_path
  |
  = link_to "Logout", logout_path, method: :post
  %p
    = link_to "Delete Account", user_path(id: current_user.id), method: :delete
