%p#notice= notice
.profile-container
  %img#profile-avatar{src: @user.avatar_url}
  #profile-text
    %p
      %strong Username:
      %span#profile-username= @user.username
    %p
      %strong Email:
      %span#profile-email= @user.email
.profile-links
  %a.edit-profile{:href => "#user-edit-modal"} Edit
  .modal#user-edit-modal
    .modal-content
      %span.close-modal-btn X
      =render "users/form", user: current_user
  |
  = link_to "Logout", logout_path, method: :post
  %p
    = link_to "Delete Account", user_path(id: current_user.id), method: :delete
