%p#notice= notice
%p
  %strong Email:
  = @user.email
= react_component 'Avatar', { data: @avatar_url }
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
%p Level: #{@user.current_level}
.progress-bar-container
  .progress-bar.center-align{style: "width: #{@user.level_progress}%"}
= react_component 'DailyGoal', { data: @daily_goals }
