%p#notice= notice
.progress-container
  %img{class: "col s3", src: "#{@avatar_url}"}
  .progress-stats-container
    %span
      %strong= @user.username
    %span Level: #{@user.current_level}
    .progress-bar-container
      .progress-bar{style: "width: #{@user.level_progress}%"}
.collection.with-header
  %h5.collection-header Daily Goals:
  - @daily_goals.each do |goal|
    %a.collection-item{:href => "/goals/#{goal.id}"}= goal.description

.collection.with-header
  %h5.collection-header Weekly Goals:
  -if @weekly_goal
    %a.collection-item{:href => "/goals/#{@weekly_goal.id}"}= @weekly_goal.description

.collection.with-header
  %h5.collection-header Phase Goals:
  -if @phase_goal
    %a.collection-item{:href => "/goals/#{@phase_goal.id}"}= @phase_goal.description
