
%p#notice= notice
%p
  %strong Email:
  = @user.email
= react_component 'Avatar', { data: @avatar_url }
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path

= react_component 'Experience', { data: @experience }
= react_component 'DailyGoalsCollection', { data: @daily_goals }
= react_component 'DailyGoal', { data: @first_daily }
= react_component 'DailyGoal', { data: @second_daily }
