%p#notice= notice
.progress-container
  %img{class: "col s3", src: "#{@avatar_url}"}
  .progress-stats-container
    %span
      %strong= @user.username
    %span Level: #{@user.current_level}
    .progress-bar-container
      .progress-bar{style: "width: #{@user.progress_bar_width}%"}
.collection.with-header
  %h5.collection-header Daily Goals:
  - @daily_goals.each do |goal|
    %a.collection-item{:href => "/goals/#{goal.id}"}= goal.description

.collection.with-header
  %h5.collection-header Weekly Goals:
  - @weekly_goals.each do |goal|
    %a.collection-item{:href => "/goals/#{goal.id}"}= goal.description

.collection.with-header
  %h5.collection-header Phase Goals:
  - @phase_goals.each do |goal|
    %a.collection-item{:href => "/goals/#{goal.id}"}= goal.description
