%p#notice= notice
.progress-container
  %img{class: "col s3", src: "#{@avatar_url}"}
  .progress-stats-container
    %span
      %strong= @user.username
    %span Level: #{@user.current_level}
    .progress-bar-container
      .progress-bar{style: "width: #{@user.level_progress}%"}
.collection.with-header
  %h5.collection-header Daily Goals:
  - @daily_goals.each do |goal|
    %a.collection-item{:href => "/goals/#{goal.id}"}= goal.description

/ .collection.with-header
/   %h5.collection-header Weekly Goals:
/   -if @weekly_goal
/     %a.myLink.collection-item{:href => "#openModal"}= @weekly_goal.description
/     #openModal.modal
/       .modal-content
/         %span{class: "close"}="x"
/         %p Other Text

.collection.with-header
  %h5.collection-header Phase Goals:
  -if @phase_goal
    / - phase_goal = @phase_goal
    / = phase_goal
    %a.myLink.collection-item{:href => "#openModal"}= @phase_goal.description
    #openModal.modal
      .modal-content
        %span{class: "close"}= "x"
        =render "goals/goalShow", :goal => @phase_goal

