%p#notice= notice
.user-profile-container
  %img{src: @user.avatar_url}
  %br
  %strong Username:
  = @user.username
  %strong Email:
  = @user.email
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
|
= link_to "Logout", logout_path, method: :post

= react_component 'Experience', { data: @experience }
