.goal
  %h1{class: "goal_title goalShow"}= @goal.description

  %p{class: 'duration goalShow'}= "Your goal is a #{@goal.duration} long goal"
  %p{class: 'due_date goalShow'}= "Your goal is due at #{ @goal.due_date.strftime("%r, %B %d, %Y")}."
