.close-modal-btn X
.goal
  %h3.goal-description{class: "goal_title goalShow"}= "#{goal.description}"
  %h4.goal-duration{class: 'duration goalShow'}= "This is a #{goal.duration} goal."

-if goal.completed
  =button_to("Do It Again!", completed_path(goal), method: "post", class: "btn completed completed_btn")
-else
  =button_to("Completed Goal! *High Fives*", completed_path(goal), method: "post", class: "btn completed completed_btn")

=render "ratings/form", :goal => goal

%p{class: 'rating goalShow'}= "Here is your past feedback..."
.rating-partials-container
  - goal.ratings.each do |rating|
    .rating-partial
      .current-score  #{rating.score}
      %span.rating_comment "#{rating.comment}"
