%nav
  %div{class: "nav-wrapper"}
    = link_to "Progress", progress_path, class: "brand-logo left"
    / %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
    /   %i.material-icons menu
    %ul.right
      %li
        = link_to "New Goal", new_goal_path
      %li
        = link_to "My Group"
      %li
        = link_to "Progress Report", goals_path
      %li
        = link_to "Profile", user_path(:id => current_user.id)
    / %ul{class: "side-nav", id: "nav-mobile"}
    /   %li
    /     = link_to "New Goal", new_goal_path
    /     = link_to "Past Goals", goals_path
    /     = link_to "Profile", user_path(:id => current_user.id)
